@import 'styling/colors.css';
@import 'styling/workspace.css';
@import 'styling/apps.css';
@import 'styling/metrics.css';

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
}

window#waybar {
    background-color: transparent;
    transition-property: background-color;
    transition-duration: .5s;
}