@import "colors.css";

#workspaces {
  margin: 2px 4px;
  padding: 2px 4px;
  background-color: @body;
  border-radius: 25px;
}

#workspaces button {
    min-width: 20px;
    padding: 0 2px;
    margin: 2 2px;
    background: @body;
    color: @trim;    margin: 4px 4px;
    border-bottom: 2px solid transparent;
    border-radius: 20px;
}

#workspaces button.active {
  padding: 0 4px;    margin: 4px 4px;
  margin: 0 0px;
  background-color: @frame;
  font-weight: 700;
  color: @joint;
  border-radius: 25px;
}

#workspaces button.empty {
  color: @text-muted;
}