@import "colors.css";

#workspaces {
  margin: 2px 4px;
  padding: 2px 4px;
  background-color: @background;
  border-radius: 20px;
}

#workspaces button {
  font-size: 25px;
  min-width: 2px;
  padding: 0 2px;
  margin: 0 2px;
  background: @background;
  color: @text;
  border-bottom: 2px solid transparent;
  border-radius: 20px;
}

#workspaces button.active {
  font-size: 25px;
  padding: 0 6px;
  margin: 0px 2px;
  background-color: @accent;
  font-weight: 700;
  color: @text;
  border-radius: 10px;
}

#workspaces button.empty {
  font-size: 25px;
  color: @text-muted;
}